.cookbook-page-recipe-cards-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  padding-right: 40px;

  margin-top: 30px;
}

/*       WHEN FOLDER IS EMPTY       */
.isLoading {
  color: #000;
  text-align: start;
  font-family: "EB Garamond";
  font-size: clamp(10px, 8vw, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin: 0;
  margin-top: 20px;
}

.empty-folder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 50px;
  margin-bottom: 50px;
}

.empty-folder-pic {
  width: 541px;
  height: 454px;
}
.empty-folder-subtxt {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(10px, 8vw, 16px);

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

  margin: 0;
  margin-top: -20px;
}

/* Cookbook */
.bttn-titles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.bttn-titles .back-bttn,
.bttn-titles .folder-bttn {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  color: #000000;

  margin: 0;

  background-color: transparent;
  border: none;

  padding: 10px 15px;

  border-radius: 10px;

  cursor: pointer;
}

.bttn-titles .back-bttn:hover {
  background-color: #d2dce1;
  transition: background-color ease-in 0.2s;
}

.bttn-titles .folder-bttn:hover {
  background-color: #d2dce1;
  transition: background-color ease-in 0.2s;
}

.bttn-titles .arrow-icon {
  width: 5px;
}

/*      FOLDER BTTN IS CLICKED       */

.bttn-titles .folder-bttn {
  position: relative;
  margin: 0;
  outline: none;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  background: none;

  cursor: pointer;
}

.bttn-titles .folder-bttn:hover {
  background-color: #beccd4;
  transition: background-color ease-in 0.1s;
}

.folder-bttn .folder-options {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0%;

  list-style-type: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 0;
  cursor: auto;
  padding: 4px;

  background: #ffffff;
  border-radius: 6px;
}

.folder-bttn .folder-options li {
  color: #000;
  text-align: center;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 0;
  cursor: pointer;
  white-space: nowrap;

  background: #fff;
  border: none;

  border-radius: 5px;
  padding: 5px 40px 5px 10px;
  width: -webkit-fill-available;
}

.folder-bttn .folder-options li:hover {
  background: #d2dce1;
}

.folder-bttn .folder-options li:active {
  background: #ababab;
}

/*     RENAME FOLDER BTTN IS CLICKED       */
.rename-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35); /* Semi-transparent background */
  z-index: 100;
}

.rename-folder-popup {
  padding: 20px;

  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  position: absolute;
  width: 300px;
  left: 15%;
  right: 0;
  top: 13%;
  margin: auto;
}

/*       HEADER CONTENT     */

.rename-popup-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(14px, 4vw, 20px);

  color: #000000;

  margin: 0;
  margin-bottom: 30px;
}

/*       INPUT CONTENT     */
.rename-input {
  position: relative;

  width: 100%;
  height: 100%;

  box-sizing: border-box;

  background: #ffffff;
  border: 1px solid #ababab;
  border-radius: 10px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #000000;

  padding: 10px;

  margin-left: -1px;
}

.rename-input:focus {
  outline: 5px auto #ff4d6d;
}
.rename-input::placeholder {
  color: #808080;
}

/*     BUTTONS CONTENT     */
.rename-popup-bttns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;

  margin-top: 30px;
}

.rename-popup-bttns button {
  cursor: pointer;

  color: #000;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  display: flex;
  align-items: center;
  text-align: center;

  border-radius: 10px;
  outline: none;
  border: none;
  background: none;

  padding: 8px 15px;
}

/*       CANCEL BUTTON     */
.rename-popup-bttns .cancel {
  color: #000000;
  transition: 0.1s ease-in-out;
}

.rename-popup-bttns .cancel:hover {
  background: #e6e6e6;
  transition: 0.1s ease-in-out;
}

.rename-popup-bttns .cancel:active {
  background: #ababab;
  transition: 0.1s ease-in-out;
}

/*       CONFIRM BUTTON     */
.rename-popup-bttns .confirm {
  color: #ff4d6d;
  font-weight: 600;

  transition: 0.1s ease-in-out;
}

.rename-popup-bttns .confirm:hover {
  background: #fae0e4;

  color: #000000;

  transition: 0.1s ease-in-out;
}

.rename-popup-bttns .confirm:active {
  background: #000;

  color: #fff;

  transition: 0.1s ease-in-out;
}

@media screen and (max-width: 575px) {
  .rename-folder-popup {
    left: 0;
    right: 0;
    top: 20%;
    width: 500px;
  }

  .cookbook-page-recipe-cards-container {
    padding-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .rename-folder-popup {
    width: 450px;
  }
}
@media screen and (max-width: 450px) {
  .rename-folder-popup {
    width: 350px;
  }
}
@media screen and (max-width: 400px) {
  .rename-folder-popup {
    width: 300px;
  }
}
@media screen and (max-width: 350px) {
  .rename-folder-popup {
    width: 250px;
  }
}
