.event-search-options {
  position: absolute;
  z-index: 999;
  background-color: var(--color-bg);
  box-sizing: border-box;
  border: 1px solid var(--gray-500);
  margin-top: -1px;
  margin-left: -1px;
  width: -webkit-fill-available;
  margin-right: var(--space-5);
}

.unordered-search-options-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.unordered-search-options-list > li {
  padding: var(--space-2);
  cursor: pointer;
  font-family: var(--font-body);
  font-style: normal;
  font-weight: 500;
  font-size: var(--text-sm);
  line-height: 16px;
  display: flex;
  align-items: center;
  color: var(--gray-600);
}

.unordered-search-options-list > li:hover {
  background-color: var(--accent-muted-bg);
}
