.landing-page {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  overflow: hidden; /* Hide any overflowing content */

  background: #ffffff;

  overflow-y: scroll;
}

.left-section {
  padding: 30px 0px 30px 30px;

  flex: 1;
  margin-right: 5px;
  height: 100%;
  display: flex;
  align-items: center; /* Center the image vertically */
  box-sizing: border-box;

  overflow-y: auto;
}

.left-content {
  margin-left: auto;

  width: 100%;
  height: 100%;
  max-width: 726px;
  max-height: 922px;
}

.left-section .title-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: 30px;
  margin-left: 30px;
}

.logo {
  width: 40px;
  height: 50px;
  margin-right: 9px;
  object-fit: fill;
}
.title {
  color: #000;
  font-family: EB Garamond;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centered-content > * {
  margin: 0;
}

.centered-content .main-title {
  /*Log In*/
  color: #000;
  text-align: center;
  font-family: EB Garamond;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  margin-top: 35px;
}

.centered-content .main-title-sub {
  color: #4a4a4a;
  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-top: 20px;
  margin-bottom: 20px;
}

.centered-content .login-signup-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 70%;
  height: 100%;
}

.signup-text {
  color: #000;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 20px;
  margin-right: auto;
}

.signup-text span {
  color: #2d75f6;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.signup-text span:hover {
  color: #004080;
  text-decoration: underline;
  cursor: pointer;
}
/* ================== RIGHT SECTION ================== */

.right-section {
  padding: 30px 30px 30px 0px;

  flex: 1;
  margin-left: 5px;
  height: 100%;
  display: flex;
  align-items: center; /* Center the image vertically */
  box-sizing: border-box;
}

.right-section .right-section-title-logo {
  display: none;

  justify-content: flex-start;
  align-items: center;

  margin-top: 30px;
  margin-left: 30px;
}

.right-section-logo {
  width: 40px;
  height: 50px;
  margin-right: 9px;
  object-fit: fill;
}

.right-section-title {
  color: #000;
  font-family: EB Garamond;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(
    0,
    0,
    0,
    0.35
  ); /* Adjust the opacity to control the darkness of the shade */
  border-radius: 50px;
}

.text-overlay {
  position: relative;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-overlay > * {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  margin: 0;
}

.large-pic-text {
  /* SIMPLE AND TASTY RECIPES */
  width: 80%;
  height: 100%;

  color: #fff;
  text-align: center;
  font-family: EB Garamond;
  font-size: 106px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 6.4px;

  color: #ffffff;

  text-align: center;
}

.small-pic-text {
  /* A recipe is soulless. The essence of the recipe must come from you, the cook. */
  position: absolute;
  bottom: 30px;
  width: 80%;
  max-height: 85px;

  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.slideshow-overlay {
  z-index: 1000;
  position: absolute;
  height: 100%;
  width: 100%;
}

.slideshow-container {
  overflow: hidden;

  width: 100%;
  height: 100%;
  max-width: 726px;
  max-height: 922px;

  border-radius: 50px;

  background-size: cover;
  background-position: center;

  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);

  position: relative;
}

.slide {
  transition: transform 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slide .active {
  opacity: 1;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1200px) {
  .large-pic-text {
    font-size: 96px;
  }

  .small-pic-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .large-pic-text {
    font-size: 86px;
  }

  .small-pic-text {
    font-size: 20px;
  }
}
@media screen and (max-width: 980px) {
  .landing-page {
    grid-template-columns: 1fr;
    grid-template-rows: 50% 1fr;
    height: 100vh;
  }

  .left-section {
    margin: 0;
    padding: 20px;
    padding-top: 0;
    grid-row: 2;
  }

  .left-content {
    margin-right: auto;
    margin-left: auto;
  }

  .left-section .title-logo {
    display: none;
  }

  .large-pic-text {
    font-size: 64px;
  }
  .small-pic-text {
    font-size: 24px;
  }

  .slideshow-container {
    margin-right: auto;
    margin-left: auto;
  }

  .centered-content .main-title {
    font-size: 24px;
    margin-top: 0;
  }

  .centered-content .main-title-sub {
    font-size: 16px;

    margin-top: 10px;
    margin-bottom: 10px;
  }

  .centered-content .login-signup-section {
    width: 100%;
  }

  .signup-text {
    font-size: 16px;
  }

  .signup-text span {
    font-size: 16px;
  }

  .right-section {
    margin: 0;
    padding: 30px;
    grid-row: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

  .right-section .right-section-title-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin: 0;
    margin-bottom: 10px;
  }

  .right-section-logo {
    width: 30px;
    height: 40px;
    margin-right: 9px;
    object-fit: fill;
  }

  .right-section-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 575px) {
  .large-pic-text {
    font-size: 42px;
  }
  .centered-content .main-title {
    font-size: 20px;
  }
  .centered-content .main-title-sub {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .signup-text {
    font-size: 10px;
    margin-top: 5px;
  }
  .signup-text span {
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  .large-pic-text {
    font-size: 32px;
  }
}

@media screen and (max-width: 744px) {
  .small-pic-text {
    display: none;
  }
}

@media screen and (max-height: 500px) {
  .landing-page {
    grid-template-rows: auto 1fr;
  }
  .left-section {
    padding: 0;
  }
  .right-section {
    padding: 0;
    padding-top: 20px;
  }

  .right-section-title-logo {
    margin: 0;
  }

  .slideshow-container {
    display: none;
  }
  .main-title {
    margin-top: 0px;
  }
}

@media screen and (max-height: 800px) {
  .small-pic-text {
    font-size: 20px;
  }
}
@media screen and (max-height: 600px) {
  .large-pic-text {
    font-size: 42px;
  }
}

@media screen and (max-height: 740px) {
  .small-pic-text {
    display: none;
  }
}
