.result-saveto-cookbook-container {
  position: relative;
}

.result-saveto-cookbook-card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: none;
  padding: var(--space-3) var(--space-2);
  background: none;
  border-radius: var(--radius-md);
  cursor: pointer;
  transition: 0.2s ease;
  position: relative;
}

.result-saveto-cookbook-card-btn svg {
  width: var(--icon-size-lg);
  margin-left: var(--space-1);
}

.result-saveto-cookbook-card-btn svg path {
  fill: var(--gray-400);
}

.result-saveto-cookbook-card-btn:hover {
  background: var(--gray-200);
  border-radius: var(--radius-md);
  transition: 0.2s ease;
}

.result-saveto-cookbook-card-btn.dropdown-active {
  background: var(--gray-200);
  border-radius: var(--radius-md) var(--radius-md) 0 0;
}

.saveto-dropdown-options-close {
  display: none;
}

.saveto-dropdown-options-open {
  position: absolute;
  top: 36px;
  left: 0;
  padding: var(--space-2) 0;
  border-radius: 0;
  border: 2px solid var(--gray-200);
  background: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.saveto-dropdown-option-folder {
  color: var(--color-fg);
  text-align: center;
  font-family: var(--font-body);
  font-size: var(--text-sm);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: var(--space-2) var(--space-5);
  border-radius: var(--radius-md);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  cursor: pointer;
  white-space: nowrap;
  background: var(--color-bg);
  border: none;
  border-radius: 0;
}

.saveto-dropdown-option-folder:hover {
  background: var(--gray-400);
}

.saveto-dropdown-option-folder:active {
  background: var(--gray-500);
}
