/*    USER FOLDERS STYLING    */
.cookbook-icon {
  min-width: 18px;
  max-width: 18px;
}

.cookbook-user-folder {
  display: flex;
  justify-content: left;
  align-items: center;

  padding: 10px 15px;

  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #e7ecef;

  cursor: pointer;
}
/*  FOLDER IS HOVERED   */

.cookbook-user-folder:hover {
  background-color: #e7ecef;
  border: 1px solid #000;

  transition: background-color ease-in 0.2s;

  .cookbook-icon path {
    fill: #fff;
    fill: #000;
  }

  .cookbook-user-foldername {
    color: #fff;
    color: #000;
  }

  .cookbook-user-dots path {
    fill: #fff;
    fill: #000;
  }
}

.cookbook-active-content {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;

  position: relative;
}

.cookbook-user-foldername {
  color: #000;
  text-align: center;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin: 0;
  margin-left: 15px;
  margin-right: 2px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .cookbook-user-folder:hover .cookbook-user-complete-foldername { */
.cookbook-user-complete-foldername {
  position: absolute;
  left: 15%;
  top: 100%;
  z-index: 2;

  margin: 0;
  width: -webkit-fill-available;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: anywhere;
  padding: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 4px;
  white-space: pre-wrap;
  font-size: 12px;

  transition: 0.3s ease;
}

.cookbook-user-items-count {
  color: #ababab;
  text-align: center;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;

  margin: 0;
  margin-left: auto;
  margin-right: 20px;
}

.cookbook-user-dots {
  margin: 0;
  margin-left: 20px;
  padding: 5px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
}

.cookbook-user-dots svg {
  width: 4px;
  height: 19px;
}

.cookbook-user-dots:hover {
  background-color: #beccd4;
  border-radius: 5px;
  transition: background-color ease-in 0.1s;
}

/*  DOTS IS CLICKED   */
.cookbook-user-dots-content {
  position: relative;
}
.cookbook-user-dots-content .folder-options {
  position: absolute;
  z-index: 100;
  cursor: auto;

  padding: 4px;

  list-style-type: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  top: 100%;
  left: 0;

  margin: 0;

  background: #ffffff;
}

.cookbook-user-dots-content .folder-options li {
  color: #000;
  text-align: center;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 0;
  cursor: pointer;
  white-space: nowrap;

  background: #fff;
  border: none;

  border-radius: 5px;
  padding: 5px 40px 5px 10px;
  width: -webkit-fill-available;
}

.cookbook-user-dots-content .folder-options li:hover {
  background: #d2dce1;
}

.cookbook-user-dots-content .folder-options li:active {
  background: #ababab;
}

/*     RENAME FOLDER BTTN IS CLICKED       */
.rename-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35); /* Semi-transparent background */
  z-index: 100;
  cursor: auto;
}

.rename-folder-popup {
  padding: 20px;

  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  position: absolute;
  width: 450px;
  left: 15%;
  right: 0;
  top: 13%;
  margin: auto;
}

/*       HEADER CONTENT     */

.rename-popup-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(14px, 4vw, 20px);

  color: #000000;

  margin: 0;
  margin-bottom: 30px;
}

/*       INPUT CONTENT     */
.rename-input {
  position: relative;

  width: 100%;
  height: 100%;

  box-sizing: border-box;

  background: #ffffff;
  border: 1px solid #ababab;
  border-radius: 10px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #000000;

  padding: 10px;

  margin-left: -1px;
}

.rename-input:focus {
  outline: 5px auto #ff4d6d;
}
.rename-input::placeholder {
  color: #808080;
}

/*     BUTTONS CONTENT     */
.rename-popup-bttns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;

  margin-top: 30px;
}

.rename-popup-bttns button {
  cursor: pointer;

  color: #000;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  display: flex;
  align-items: center;
  text-align: center;

  border-radius: 10px;
  outline: none;
  border: none;
  background: none;

  padding: 8px 15px;
}

/*       CANCEL BUTTON     */
.rename-popup-bttns .cancel {
  color: #000000;
  transition: 0.1s ease-in-out;
}

.rename-popup-bttns .cancel:hover {
  background: #e6e6e6;
  transition: 0.1s ease-in-out;
}

.rename-popup-bttns .cancel:active {
  background: #ababab;
  transition: 0.1s ease-in-out;
}

/*       CONFIRM BUTTON     */
.rename-popup-bttns .confirm {
  color: #ff4d6d;
  font-weight: 600;

  transition: 0.1s ease-in-out;
}

.rename-popup-bttns .confirm:hover {
  background: #fae0e4;

  color: #000000;

  transition: 0.1s ease-in-out;
}

.rename-popup-bttns .confirm:active {
  background: #000;

  color: #fff;

  transition: 0.1s ease-in-out;
}

@media screen and (max-width: 575px) {
  .rename-folder-popup {
    left: 0;
    right: 0;
    top: 20%;
    width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .rename-folder-popup {
    width: 450px;
  }
}
@media screen and (max-width: 450px) {
  .rename-folder-popup {
    width: 350px;
  }
}
@media screen and (max-width: 400px) {
  .rename-folder-popup {
    width: 300px;
  }
}
@media screen and (max-width: 350px) {
  .rename-folder-popup {
    width: 250px;
  }
}
