.dashboard-page {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.left-side-panel {
  width: auto;

  padding: 20px;
  padding-right: 0px;

  position: relative;

  max-height: 100%;
  overflow: hidden;
}

.top-title {
  display: flex;
  align-items: center;

  margin-bottom: 30px;
}

.icon-text-main {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.menu-icon {
  display: none;
}

.web-icon {
  width: 32px;
  height: 40px;
}

.top-title .icon-text-main p {
  margin-left: 10px;

  color: #000;
  font-family: EB Garamond;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.side-tabs {
  list-style: none;
  padding: 0px;
}

.side-tabs li {
  display: flex;
  align-items: center;

  margin-bottom: 10px;

  height: 45px;
  width: 100%;
  border-radius: 15px 0px 0px 15px;

  padding-left: 20px;
}

.side-tabs li:hover {
  background-color: #dedede;

  cursor: pointer;
  transition: 0.3s;
}

.side-tabs li:active {
  background-color: #ababab;
}

.side-tabs li p {
  padding-left: 10px;
  text-decoration: none;

  color: #000;
  font-family: Work Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.side-tabs li svg {
  width: 15px;
  height: 15px;
  fill: white;
}

.side-tabs li:hover svg path {
  width: 15px;
  height: 15px;
  fill: black;
}

.side-tabs li:hover p {
  color: black;
}

.active {
  background-color: #000;
}

.active svg path {
  width: 15px;
  height: 15px;
  fill: white;
}

.side-tabs .active p {
  color: white;
}

.bottom-nav-content {
  position: absolute;
  bottom: 20px;
  width: -webkit-fill-available;
}

.loggedin-username-label {
  color: #000;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  width: 100%;
  margin-bottom: 10px;
}

.loggedin-username-label .username-tag {
  font-weight: 600;
}

.logout-button {
  display: flex;
  width: calc(100% - 20px);
  padding: 10px 0px 10px 0px;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  border: none;
  background: none;

  cursor: pointer;
}

.logout-button h1 {
  color: #ababab;
  text-align: center;
  font-family: Work Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin: 0;
}

.logout-button:hover {
  background-color: #ebebeb;
  color: #ababab;

  border: none;

  transition: 0.3s;
}

.logout-button:active {
  background-color: #ababab;
  color: #ababab;

  border: none;

  transition: 0.3s;
}

.logout-button .logout-icon {
  width: 15px;
  height: 15px;

  margin-right: 5px;
}

/*=========== RIGHT SIDE CONTENT ===========*/

.right-side-panel {
  background: #f7f9f7;
  box-shadow: -5px 0px 20px 0px rgba(0, 0, 0, 0.1);

  width: auto;
  height: auto;

  z-index: 1;

  padding: 40px;

  max-height: 100%;
  overflow-y: auto; /* Adds scroll if content exceeds height */
  width: auto; /* Optionally set width to occupy full container width */

  position: relative;

  padding-right: 0;
}

.right-side-panel::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Width of the gradient on the right side */
  height: 40px;
  background: linear-gradient(
    0deg,
    rgba(217, 217, 217, 0) 0%,
    rgba(247, 249, 247, 0) 0.01%,
    #f7f9f7 76.04%
  );
  pointer-events: none; /* Allows clicks to go through the gradient */
  width: 83.2%;
  margin-left: 16.8%;

  z-index: 1;
}

.hamburger-icon {
  position: absolute;
  display: none;
}

/* =============== RESPONSIVENESS SETTINGS =============== */

@media screen and (min-width: 576px) {
  @media screen and (max-width: 1140px) {
    .top-title .icon-text-main p {
      font-size: 14px;
    }
    .web-icon {
      width: 28px;
      height: 36px;
    }

    .side-tabs li p {
      font-size: 12px;
    }

    .side-tabs .active p {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 1024px) {
    .side-tabs li p {
      font-size: 10px;
    }

    .side-tabs .active p {
      font-size: 10px;
    }
  }

  @media screen and (max-width: 950px) {
    .side-tabs .active p {
      font-size: 9px;
    }
    .side-tabs li p {
      font-size: 9px;
    }
  }
  @media screen and (max-width: 910px) {
    .icon-text-main {
      width: 100%;
      margin-right: 20px;
    }

    .top-title .icon-text-main p {
      display: none;
    }

    .side-tabs li {
      justify-content: center;
      padding: 0;
    }

    .side-tabs li p {
      display: none;
    }

    .side-tabs .active p {
      display: none;
    }

    .side-tabs li svg {
      margin-right: 20px;
    }
  }

  @media screen and (max-width: 700px) {
    .loggedin-username-label .signedin-label {
      display: none;
    }

    .logout-button h1 {
      display: none;
    }
  }
}

@media screen and (max-width: 575px) {
  .menu-panel {
    width: 100%;
    margin-top: 10px;
  }
  .menu-panel-closed {
    display: none;
  }

  .dashboard-page {
    grid-template-rows: auto 1fr; /* Two rows */
    grid-template-columns: 1fr; /* One column */
  }

  .left-side-panel {
    width: auto;

    padding: 10px;
    padding-right: 15px;
    padding-bottom: 0;
  }

  .right-side-panel::before {
    display: none;
  }

  .top-title {
    position: relative;
    margin-bottom: 10px;
  }

  .icon-text-main {
    margin-right: auto;
    margin-left: auto;
  }

  .hamburger-icon {
    display: block;

    position: absolute;
    right: 0;
  }

  .side-tabs li {
    width: 100%;
    border-radius: 0px;

    padding: 0;

    justify-content: center;
  }

  .side-tabs .active {
    width: 100%;
    border-radius: 0px;

    padding: 0;

    justify-content: center;
  }

  .side-tabs li:hover {
    width: 100%;
    border-radius: 0px;
  }

  .logout-button {
    position: unset;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }

  .loggedin-username-label {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .side-tabs {
    margin-top: 0;
  }

  .bottom-nav-content {
    position: unset;
    margin: 20px 0px;
  }

  .signedin-label {
    margin-right: 5px;
  }

  .logout-button {
    margin: 10px auto;
  }

  /*    RIGHT SIDE PANEL    */
  .right-side-panel {
    padding: 20px;
    border-radius: 0;
  }
}

@media screen and (max-width: 744px) {
}

@media screen and (max-width: 300px) {
}

@media screen and (max-height: 800px) {
}

@media screen and (max-height: 740px) {
}

@media screen and (max-height: 600px) {
}

@media screen and (max-height: 500px) {
}
@media screen and (max-width: 575px) {
}
/*    GENERAL SCREEN SIZES TO ADJUST  */

/*

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 980px) {
}


@media screen and (max-width: 744px) {
}

@media screen and (max-width: 300px) {
}

@media screen and (max-height: 800px) {
}

@media screen and (max-height: 740px) {
}

@media screen and (max-height: 600px) {
}

@media screen and (max-height: 500px) {
}

*/
