.recipe-search-content {
  margin-right: 40px;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  outline: 5px solid transparent;
}

.search-container:focus-within {
  outline: 5px auto #ff4d6d;
  border-radius: 20px;
}

.search-txt {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 10px 22px 10px 22px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border-radius: 20px 0px 0px 20px;
  background: #fff;
  box-sizing: border-box;
  border: none;
}

.search-txt:focus {
  outline: none;
}

.search-btn {
  display: flex;
  padding: 10px 0px 10px 0px;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 38px;

  border-radius: 0px 20px 20px 0px;
  background: #000;

  cursor: pointer;
  border: none;

  margin-left: -3px;
}

.search-btn svg {
  margin-left: -5px; /* Offset by 2 pixels to the left */
  width: 20px;
}

.search-btn svg path {
  fill: white;
}

.search-btn:hover {
  background: #dedede;
  transition: 0.3s;
  border: 1px solid #dedede;
}

.search-btn:hover svg path {
  fill: black;
}

.search-looking {
  color: #000;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin: 20px 0px 20px 10px;
}

.search-looking span {
  color: #000;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #000;
}

/* API INFROMATION DISPLAY */

.data-content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 5px;
}

.results-content {
  display: flex;
  justify-content: left;
  align-items: center;

  padding: 5px;
  padding-right: 10px;

  border-radius: 20px;

  background: #fff;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);

  height: 120px;
  transition: 0.3s ease;
  border: 1px solid rgba(0, 0, 0, 0);
}

.results-content:hover {
  border: 1px solid #000;
  transition: 0.3s ease;
}

.results-content .result-pic {
  height: 100%;
  flex-shrink: 0;

  border-radius: 15px;

  background-size: cover;
  background-position: center;
}

.results-labels {
  margin-left: 15px;
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 90%;
}

.results-labels h1 {
  color: #000;
  font-family: Work Sans;
  font-family: EB Garamond;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  margin: 0;
}

.results-labels h3 {
  font-family: Work Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  margin: 0;
}

.results-labels .label-details {
  display: flex;
  justify-content: left;
  align-items: center;
  grid-gap: 10px;
}

.label-details .green-light {
  border-radius: 7px;
  background: #e8f2e8;
  padding: 7px 10px;
  font-weight: 500;

  color: #519451;
}

.label-details .yellow-light {
  border-radius: 7px;
  background: #fdf6e4;
  padding: 7px 10px;
  font-weight: 500;

  color: #d9a112;
}

.label-details .red-light {
  border-radius: 7px;
  background: #f7dbd7;
  padding: 7px 10px;
  font-weight: 500;

  color: #ba3523;
}

.results-content .result-buttons {
  margin-left: auto;
  margin-top: 6px;
}

.open-recipe-link-btn {
  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  display: flex;
  padding: 10px 0px 10px 0px;
  min-width: 120px;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  border: 1px solid #000;
  background: #000;

  cursor: pointer;

  margin-bottom: 8px;
}

.open-recipe-link-btn:hover {
  background-color: #dedede;

  color: black;
  border: 1px solid #dedede;

  transition: 0.3s;
}

.save-folder-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.heart-btn-search-results-card {
  background: none;
  border-radius: 5px;
  padding: 3px;

  transition: 0.2s ease;
}

.heart-btn-search-results-card:hover {
  background: #ebebeb;
  transition: 0.2s ease;
}

@media screen and (max-width: 575px) {
  .recipe-search-content {
    margin: 0;
  }

  .data-content {
    width: 100%;
    grid-template-columns: 100%;
    grid-gap: 5px;
  }

  .results-content {
    height: 100px;
  }

  .results-labels {
    margin-left: 10px;
  }

  .results-labels h1 {
    font-size: 16px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .results-labels .label-details {
    margin-top: 10px;
  }

  .results-labels h3 {
    font-size: 8px;
  }

  .open-recipe-link-btn {
    font-size: 10px;
    min-width: 90px;
    padding: 5px 0px;
  }
}
